<div class="container">
  <div class="sticky-top show-product">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p>click below to retuncto home page</p>
  <%= link_to 'Back', simple_pages_contact_path, class:"btn btn-danger" %>
  </div><!-- / panel-body -->
</div><!-- / panel -->
