<div class="container">
  <div class="sticky-top show-product">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
    <p>click below to retuncto home page</p>
    <li><%= link_to "Home", root_url %></li>

  </div><!-- / panel-body -->
</div><!-- / panel -->
