<div class="container">
  <div class="panel-body">
    <p>Thank you for your pharchase.</p>
    <p>click below to retuncto home page</p>

  <li><%= link_to "products over view", products_path %></li>
  </div><!-- / panel-body -->
</div><!-- / panel -->
